body{
  background-color: #f5d7ef;
  align-items: center;
  font-family: "Sour Gummy", sans-serif;
}
h2{
  text-align: left;
}
.header{
 display: flex;
  text-align: left;
  text-wrap: column;
}


ul{
  list-style-type: none;
  padding: 0%;
  margin: 0%;
}
li{
 display: inline;
} 
ul {
  border: 1px solid #470b29;
  background-color: #f4aae6;
}

li a {
  color: #662651;
}