body{
  background-color: #f5d7ef;
}
h2{
  text-align: left;
}
.header{
 display: flex;
  text-align: left;
  text-wrap: column;
}
.content{
  display: flex;
}

ul{
  list-style-type: none;
  padding: 0%;
  margin: 0%;
}
li{
 display: inline;
} 